In [ ]:
## TASK SET 1 ##
addr_book = {'Smith':['509-444-2121','next door neighbor'],
             'Malek':['208-544-8686','room mate'],
             'Quresh':['570-751-2121', 'Cousin']}

print(addr_book['Smith'][0])
addr_book['Malek'][1] = 'Best Friend'
print(addr_book)

for name in addr_book:
  print(name, addr_book[name][0])
#Done

509-444-2121
{'Smith': ['509-444-2121', 'next door neighbor'], 'Malek': ['208-544-8686', 'Best Friend'], 'Quresh': ['570-751-2121', 'Cousin']}
Smith 509-444-2121
Malek 208-544-8686
Quresh 570-751-2121

In [ ]:
## TASK SET 2 ##
sales = [132849, 23487, 34829, 489247, 574872, 698374, 73498]
print(sales[4:])
print(sales[1:4])
sales.append(885434)
print(sales)
##Done

[574872, 698374, 73498]
[23487, 34829, 489247]
[132849, 23487, 34829, 489247, 574872, 698374, 73498, 885434]

In [ ]:
from ast import Num
## TASK SET 3 ##
def listinator(list1, list2, num):
  Tlist = list1 + list2
  Rlist = list1 * num
  Alist = list2 + [num]
  print(Tlist, Rlist, Alist)
  return (Tlist, Rlist, Alist)

pets = ['llama', 'fish', 'rat']
lockers = [23, 18, 77, 26]

list_results = listinator(pets, lockers, 4)
for results in list_results:
  print(results)
#Done

['llama', 'fish', 'rat', 23, 18, 77, 26] ['llama', 'fish', 'rat', 'llama', 'fish', 'rat', 'llama', 'fish', 'rat', 'llama', 'fish', 'rat'] [23, 18, 77, 26, 4]
['llama', 'fish', 'rat', 23, 18, 77, 26]
['llama', 'fish', 'rat', 'llama', 'fish', 'rat', 'llama', 'fish', 'rat', 'llama', 'fish', 'rat']
[23, 18, 77, 26, 4]

In [ ]:
## TASK SET 4 ##
# 1.
for i in range( 6, 73, 3):
  print(i, end="*")

# 2.
for k in range(-200,200,1):
  print(k, end="/")
#Done

6*9*12*15*18*21*24*27*30*33*36*39*42*45*48*51*54*57*60*63*66*69*72*-200/-199/-198/-197/-196/-195/-194/-193/-192/-191/-190/-189/-188/-187/-186/-185/-184/-183/-182/-181/-180/-179/-178/-177/-176/-175/-174/-173/-172/-171/-170/-169/-168/-167/-166/-165/-164/-163/-162/-161/-160/-159/-158/-157/-156/-155/-154/-153/-152/-151/-150/-149/-148/-147/-146/-145/-144/-143/-142/-141/-140/-139/-138/-137/-136/-135/-134/-133/-132/-131/-130/-129/-128/-127/-126/-125/-124/-123/-122/-121/-120/-119/-118/-117/-116/-115/-114/-113/-112/-111/-110/-109/-108/-107/-106/-105/-104/-103/-102/-101/-100/-99/-98/-97/-96/-95/-94/-93/-92/-91/-90/-89/-88/-87/-86/-85/-84/-83/-82/-81/-80/-79/-78/-77/-76/-75/-74/-73/-72/-71/-70/-69/-68/-67/-66/-65/-64/-63/-62/-61/-60/-59/-58/-57/-56/-55/-54/-53/-52/-51/-50/-49/-48/-47/-46/-45/-44/-43/-42/-41/-40/-39/-38/-37/-36/-35/-34/-33/-32/-31/-30/-29/-28/-27/-26/-25/-24/-23/-22/-21/-20/-19/-18/-17/-16/-15/-14/-13/-12/-11/-10/-9/-8/-7/-6/-5/-4/-3/-2/-1/0/1/2/3/4/5/6/7/8/9/10/11/12/13/14/15/16/17/18/19/20/21/22/23/24/25/26/27/28/29/30/31/32/33/34/35/36/37/38/39/40/41/42/43/44/45/46/47/48/49/50/51/52/53/54/55/56/57/58/59/60/61/62/63/64/65/66/67/68/69/70/71/72/73/74/75/76/77/78/79/80/81/82/83/84/85/86/87/88/89/90/91/92/93/94/95/96/97/98/99/100/101/102/103/104/105/106/107/108/109/110/111/112/113/114/115/116/117/118/119/120/121/122/123/124/125/126/127/128/129/130/131/132/133/134/135/136/137/138/139/140/141/142/143/144/145/146/147/148/149/150/151/152/153/154/155/156/157/158/159/160/161/162/163/164/165/166/167/168/169/170/171/172/173/174/175/176/177/178/179/180/181/182/183/184/185/186/187/188/189/190/191/192/193/194/195/196/197/198/199/

In [ ]:
## TASK SET 5 ##
def singularize(name):
  if name[-1] == 's':
    print(name[:-1])
  else:
    print('not plural')

singularize("Apples")
singularize("mom's")
singularize("mess")
singularize("Christmas")
singularize("Present")
#Done

Apple
mom'
mes
Christma
not plural